name: "Test Build Updates"

run-name: "Test Build EFS Packages by @${{ github.actor }}"

on:
  push:
    branches:
      - 'updates'
  workflow_dispatch:

permissions:
  contents: write
  id-token: write
  issues: write
  pull-requests: write

env:
  PLATFORMS: "linux/amd64,linux/arm64"
  CACHIX_AUTH_TOKEN:  ${{ secrets.CACHIX_AUTH_TOKEN }}

jobs:
  test_build:
    name: Build Updated EFS Packages for NixOS
    runs-on: ${{ matrix.platform == 'linux/arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-conf: |
            trusted-public-keys = vagrant-nixos-cache.cachix.org-1:/D6PTb1Gp4XYGf8dsZPt7B1FtEIUTbKm5O5IsgNbij8= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://vagrant-nixos-cache.cachix.org https://cache.nixos.org/
      - uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "Update flake.lock"

      - uses: cachix/cachix-action@v15
        with:
          name: vagrant-nixos-cache
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: build
        run: |
          nix build --no-out-link . | cachix push vagrant-nixos-cache
