name: "Test Build Updates"

run-name: "Test Build EFS Packages by @${{ github.actor }}"

on:
  push:
    branches:
      - 'updates'
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  id-token: write

env:
  PLATFORMS: "linux/amd64,linux/arm64"
  CACHIX_AUTH_TOKEN:  ${{ secrets.CACHIX_AUTH_TOKEN }}

jobs:
  test_build:
    name: Build Updated EFS Packages for NixOS
    runs-on: ${{ matrix.platform == 'linux/arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            trusted-public-keys = vagrant-nixos-cache.cachix.org-1:/D6PTb1Gp4XYGf8dsZPt7B1FtEIUTbKm5O5IsgNbij8= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://vagrant-nixos-cache.cachix.org https://cache.nixos.org/

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: vagrant-nixos-cache
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: build
        run: |
          nix build --no-out-link . | cachix push vagrant-nixos-cache
